{% extends 'base.htm' %}
{% from 'bs_navs.htm' import bs_navs with context %}
{% from 'bs_panel.htm' import bs_panel with context %}
{% from 'bs_breadcrumbs.htm' import bs_breadcrumbs with context %}
{% from 'bs_pagination.htm' import bs_pagination with context %}
{% from 'bs_filters.htm' import bs_filters %}

{% block main %}
{{ bs_navs(main_navs) }}

{% call bs_panel(
    type='primary',
    heading=request.view_title,
) %}
{# bs_breadcrumbs(filter_title['state'], filter_navs['state']) #}
{# bs_breadcrumbs(filter_title['specialisation'], filter_navs['specialisation']) #}
{% if clubs %}
    <table class="table table-bordered table-collapse">
    {% for club in clubs %}
        {% set row_class = cycler('info', 'success', 'active') %}
        {% if loop.index0 == 0 %}
        <tr>
            <th>
                {{ view.get_sort_order_link('title') }}
            </th>
            <th>
                {{ view.get_sort_order_link('category') }}
            </th>
            <th>
                {{ view.get_sort_order_link('foundation_date') }}
            </th>
        </tr>
        {% endif %}
        <tr>
            <td class="{{ row_class.__next__() }}" data-caption="{{ get_verbose_name(club, 'title') }}">
                <a href="{{ url('club_detail', club_id=club.pk) }}" title="View">{{ club.title }}</a><br />
                {% if client_conf.userId != 0 %}
                <a href="{{ url('club_update', club_id=club.pk) }}" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                {% endif %}
            </td>
            <td class="{{ row_class.__next__() }}" data-caption="{{ get_verbose_name(club, 'category') }}">
                {{ club.get_category_display() }}
            </td>
            <td class="{{ row_class.__next__() }}" data-caption="{{ get_verbose_name(club, 'foundation_date') }}">
                {{ format_local_date(club.foundation_date) }}
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
<div class="jumbotron">
    <div class="default-padding">
{% set state_str %}{{ bs_filters(filter_title, filter_display, ', having') }}{% endset %}
There is no sport clubs {{ state_str|safe }}
    </div>
</div>
{% endif %}

{% endcall %}

{% if clubs and is_paginated %}
    {{ bs_pagination(cbv=view, page_obj=page_obj) }}
{% endif %}

{% endblock main %}
