{% from 'ko_grid.htm' import ko_grid with context %}
{% from 'ko_grid_body.htm' import ko_grid_body with context %}
{% extends 'base.htm' %}

{% block main %}

{#
   'pageRouteKwargsKeys' selects keys of current view kwargs which will be copied to ClubMemberGrid view kwargs
    then used by .get_base_queryset() method to filter queryset according to value of kwargs['club_id'].
#}
{{
ko_grid(
    grid_options={
        'pageRoute': view.request.resolver_match.view_name,
        'pageRouteKwargsKeys': ['club_id'],
    }
)
}}

{% do page_context.set_custom_scripts(
    'js/member-grid.js',
) -%}

{% endblock main %}

{% block bottom_scripts %}
    {{ ko_grid_body() }}
{% endblock bottom_scripts %}
