{% from 'ko_grid.htm' import ko_grid with context %}
{% from 'ko_grid_body.htm' import ko_grid_body with context %}
{% extends 'base.htm' %}

{% block main %}
    {#
        'separateMeta' is required because Django grid specifies 'active_choices' field filter value.
    #}
    {#
        Overwrites templates for custom display of MemberGrid.
    #}
    {{ ko_grid(
        grid_options={
            'pageRoute': view.request.resolver_match.view_name,
            'separateMeta': True,
        },
        template_args={
            'vscroll': True,
        },
        dom_attrs={
            'id': 'member_grid',
            'data-template-options': {
                'templates': {
                    'ko_grid_body': 'member_ko_grid_body',
                    'member_ko_grid_nav': 'ko_grid_nav',
                    'ko_grid_filter_choices': 'member_ko_grid_filter_choices',
                }
            },
        }
    ) }}

{% do page_context.add_custom_scripts(
    'djk/js/grid.js',
    'js/member-grid.js',
) -%}

{% endblock main %}

{% block bottom_scripts %}
    {# Generate standard grid templates for KoGridWidget #}
    {{ ko_grid_body() }}

    <script type="text/template" id="member_ko_grid_body">
        <card-primary data-bind="using: $root, as: 'grid'">
            <card-header data-bind="text: meta.verboseNamePlural"></card-header>
            <card-body>
                <!-- ko if: meta.hasSearch() || gridFilters().length > 0 -->
                <tpl t-id="member_ko_grid_nav"></tpl>
                <!-- /ko -->
                <tpl t-id="ko_grid_table"></tpl>
                <div class="default-padding">
                    <button
                            data-bind="click: onChangeEndorsement" type="button" class="btn btn-warning">
                        Change endorsement
                    </button>
                </div>
                <!-- Nested components isolation -->
                <div class="component">
                    <!-- Should display OK, not binding to the outer component. -->
                    Rows displayed: <span data-bind="text: gridRows().length">OK</span>
                </div>
                <card-success>
                    <card-header>
                        <card-title>Nested component (inner datatable inside outer datatable)</card-title>
                    </card-header>
                    <card-body>
                        {{ ko_grid(
                            grid_options={
                                'pageRoute': 'action:grid',
                            },
                            dom_attrs={
                                'id': 'action_grid',
                                'data-template-args-nesting': False,
                                'data-template-options': {
                                    'templates': {
                                        'ko_grid_body': 'ko_grid_body',
                                        'ko_grid_filter_choices': 'ko_grid_filter_choices',
                                    }
                                },
                            },
                        ) }}
                    </card-body>
                </card-success>
            </card-body>
            <card-footer>
                <tpl t-id="ko_grid_pagination"></tpl>
            </card-footer>
        </card-primary>
    </script>

    <script type="text/template" id="member_ko_grid_filter_choices">
        <li data-bind="grid_filter">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header"><a class="navbar-brand" href="##" data-bind="text: name"></a></div>
                    <ul class="nav navbar-nav">
                        <!-- ko foreach: {data: choices, as: 'filterChoice'} -->
                        <li data-bind="css: {active: is_active(), 'nav-item': true}">
                            <a data-bind="css: {bold: is_active(), 'nav-link': true}, text: name, grid_filter_choice, click: onLoadFilter.bind(filterChoice)" name="#"></a>
                        </li>
                        <!-- /ko -->
                    </ul>
                </div>
            </nav>
        </li>
    </script>

{% endblock bottom_scripts %}
