{% extends 'base_min.html' %}
{% load jinja %}
{% load staticfiles %}

{% block mainmenu %}
{% jinja 'mainmenu.htm' %}
{% endblock mainmenu %}

{% block main %}
{% if main_navs %}
    {% jinja 'bs_navs.htm' with _render_=1 navs=main_navs %}
{% endif %}

<div class="panel panel-primary">
    <div class="panel-heading">{{ view.get_heading }}</div>
    <div class="panel-body">
    {% jinja 'bs_inline_formsets.htm' with _render_=1 related_form=form formsets=formsets action=view.get_form_action_url opts=view.get_bs_form_opts %}
    </div>
</div>
{% endblock main %}

{% block bottom_scripts %}
    {% jinja 'ko_grid_body.htm' with _render_=1 %}
    <script src="{% static 'djk/js/formsets.js' %}"></script>
    <script src="{% static 'djk/js/grid.js' %}"></script>
{% endblock bottom_scripts %}
